.st-contact-form{
    width:100% !important;
}
.st-contact-form textarea.content {
    width:98.2% !important; 
    padding:8px 0 0 10px !important;
}
p.error{
    color:red;
    font-weight:bold;
}
p.success{
    color:blue;
    font-weight:bold;
}
