.st-related-post .st-layer-slider {
	position: relative;
}

/*========= NAV =======*/
.st-related-post .sequence-pagination {
	list-style: none;
	text-align: center;
	margin: 0;
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	bottom: 0px;
	z-index: 100;
}
.st-related-post .sequence-pagination li {
	display: inline-block;
	margin-right: 8px;
	cursor: pointer;
}
.st-related-post .sequence-pagination li.current span {
	position: relative;
}
.st-related-post .sequence-pagination li.current span:after {
	position: absolute;
	top: 2px;
	left: 2px;
	height: 8px;
	width: 8px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.66);
	display: block;
	content: '';
}
.st-related-post .sequence-pagination:after {
	content: '';
	display: block;
	clear: both;
}
.st-related-post .sequence-pagination li span {
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background: #d7d7d7;
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.28);
	display: block;
}
.st-related-post .sequence-prev,
.st-related-post .sequence-next {
	display: inline-block;
	height: 32px;
	width: 32px;
	border-radius: 50%;
	background: url(icons.png) no-repeat center center #dcdcdc;
	position: absolute;
	top: 50%;
	cursor: pointer;
	z-index: 100;
}
.st-related-post .sequence-prev {
	left: 0;
	background-position: center -178px;
}
.st-related-post .sequence-next {
	right: 0;
	background-position: center -107px;
}
.st-related-post .sequence-prev:hover,
.st-related-post .sequence-next:hover {
	background-color: #fd7800;
}
.st-related-post .sequence-prev:hover {
	background-position: center -49px;
}
.st-related-post .sequence-next:hover {
	background-position: center 11px;
}
.st-related-post .sequence-canvas {
  	height: 100%;
  	width: 100%;
  	margin: 0;
  	padding: 0;
}
.st-related-post .sequence-canvas > li {
  	position: absolute;
  	overflow: hidden;
  	width: 100%;
  	height: 100%;
  	z-index: 1;
  	opacity: 0;
  	filter: alpha(opacity=0);
  	-webkit-transition: opacity 1.5s;
  	-moz-transition: opacity 1.5s;
  	-ms-transition: opacity 1.5s;
  	-o-transition: opacity 1.5s;
  	transition: opacity 1.5s;
}
.st-related-post .sequence-canvas > li > * {
 	position: absolute;
 	height: 100%;
 	top: 0;
 	
 	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 1.5s;
	-moz-transition: opacity 1.5s;
  	-ms-transition: opacity 1.5s;
  	-o-transition: opacity 1.5s;
  	transition: opacity 1.5s;
}
.st-related-post .sequence-canvas > li.animate-in > *,
.st-related-post .sequence-canvas > li.animate-in {
	opacity: 1;
	filter: alpha(opacity=99);
	-webkit-transition: opacity 1.5s;
	-moz-transition: opacity 1.5s;
  	-ms-transition: opacity 1.5s;
  	-o-transition: opacity 1.5s;
  	transition: opacity 1.5s;
}
.st-related-post .sequence-canvas > li.animate-out > *,
.st-related-post .sequence-canvas > li.animate-out {
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 1.5s;
	-moz-transition: opacity 1.5s;
  	-ms-transition: opacity 1.5s;
  	-o-transition: opacity 1.5s;
  	transition: opacity 1.5s;
}
.st-related-post .layer-effect-recentwork .sequence-next,
.st-related-post .layer-effect-recentwork .sequence-prev {
	bottom: -10px;
	top: auto;
}
.st-related-post .layer-effect-recentwork .sequence-next {
	left: 35px;
	right: auto;
}
