.top-menu .avatar-main-menu>li:hover>a, 
.top-menu .avatar-main-menu>li:hover>span,
.main-menu .st-mega-menu li a:hover,
.st-world .items:first-child .title a:hover, 
.st-travel .items:first-child .title a:hover,
.st-world .items .title a:hover, 
.st-travel .items .title a:hover, 
.st-movies .items .title a:hover,
.st-local-news .span6 .intro .title a:hover,
.st-local-news .span6 .items .title a:hover,
.st-recent-post .items .title a:hover,
.tab-content .outter h4 a:hover,
.blogst-blog-1-page .items-row .page-header h2 a:hover,
.blogst-blog-2-page .items-row .page-header h2 a:hover{
	color:#6cac00;
}
.st-photo-gallery .span3 .inner .image a:before{
	background-image:url(../icon-eye.png);
}
.st-photo-gallery .span3 .inner .image a:after,
.st-photo-gallery .span3 .inner .title{
	background-color:#6cac00;
}
